<footer class="footer" role="contentinfo">
  <nav role="navigation">
    <ol class="nav o-list-bare o-list-center">
      <li><a href="/ref/" title="Link to quick reference">Reference</a></li>
      <li><a href="/tutorial/" title="">Tutorial</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/styleguide/">Styleguide</a></li>
    </ol>
  </nav>
  <div class="social">
    <ol class="o-list-bare o-list-center">
      <li><a href="https://github.com/growdigital/groundwork">GitHub</a></li>
      <li><a href="https://twitter.com/GroundWorkRocks">Twitter</a></li>
      <li><a href="https://groundworkrocks.slack.com/">Slack</a></li>
      <li><a href="mailto:contact@growdigital.org">Email</a></li>
      <li><a href="https://www.groundwork.rocks/rss.xml">RSS</a></li>
    </ol>
  </div>
  <div class="footer__small">
    <p>Built by <a href="https://www.growdigital.org/">Jake Rayson</a> with <a href="http://www.metalsmith.io/">Metalsmith</a>, deployed by <a href="https://www.netlify.com/">Netlify</a></p>
    <p>Copyright &copy; Jake Rayson 2017, licensed under <a href="https://choosealicense.com/licenses/mit/">MIT</a> and <a href="https://choosealicense.com/licenses/gpl-3.0/">GPL v3</a>
  </div>
</footer>
