<footer role="contentinfo">
  <nav role="navigation">
    <ol class="c-navsec o-list-bare">
      <li><a href="/ref/" title="Link to quick reference">Reference</a></li>
      <li><a href="/about/">About</a></li>
    </ol>
  </nav>
  <p>Built by <a href="https://www.growdigital.org/">Jake Rayson</a> with <a href="http://www.metalsmith.io/">Metalsmith</a>, deployed by <a href="https://www.netlify.com/">Netlify</a></p>
</footer>
