<footer class="footer" role="contentinfo">
  <nav role="navigation">
    <ol class="nav o-list-bare o-list-center">
      <li><a href="/ref/" title="Link to quick reference">Reference</a></li>
      <li><a href="/tutorial/" title="">Tutorial</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/styleguide/">Styleguide</a></li>
    </ol>
  </nav>
  <div class="social">
    <ol class="o-list-bare o-list-center">
      <li>
        <a class="icon__link" href="https://github.com/growdigital/groundwork">
          <svg class="icon icon--github"><use xlink:href="#icon-github"/></svg>
          <span class="u-hiddenvisually">GitHub</span>
        </a>
      </li>
      <li>
        <a class="icon__link" href="https://twitter.com/GroundWorkRocks">
          <svg class="icon icon--twitter"><use xlink:href="#icon-twitter"/></svg>
          <span class="u-hiddenvisually">Twitter</span>
        </a>
      </li>
      <li>
        <a class="icon__link" href="https://groundworkrocks.slack.com/">
          <svg class="icon icon--slack"><use xlink:href="#icon-slack"/></svg>
          <span class="u-hiddenvisually">Slack</span>
        </a>
      </li>
      <li>
        <a class="icon__link" href="mailto:contact@growdigital.org">
          <svg class="icon icon--email"><use xlink:href="#icon-email"/></svg>
          <span class="u-hiddenvisually">Email</span>
        </a>
      </li>
      <li>
        <a class="icon__link" href="https://www.groundwork.rocks/rss.xml">
          <svg class="icon icon--rss"><use xlink:href="#icon-rss"/></svg>
          <span class="u-hiddenvisually">RSS</span>
        </a>
      </li>
    </ol>
  </div>
  <div class="footer__small">
    <p>Built by <a href="https://www.growdigital.org/">Jake Rayson</a> with <a href="http://www.metalsmith.io/">Metalsmith</a>, deployed by <a href="https://www.netlify.com/">Netlify</a></p>
    <p>Copyright &copy; Jake Rayson 2017, licensed under <a href="https://choosealicense.com/licenses/mit/">MIT</a> and <a href="https://choosealicense.com/licenses/gpl-3.0/">GPL v3</a>
  </div>
</footer>
