<footer class="footer" id="footer" role="contentinfo">
  <nav role="navigation">
    <ol class="nav nav--footer o-list-bare o-list-center">
      <li><a class="ref" href="/ref/" title="Link to quick reference">Reference</a></li>
      <li><a class="tutorial" href="/tutorial/" title="">Tutorial</a></li>
      <li><a class="about" href="/about/">About</a></li>
      <li><a href="/styleguide/">Styleguide</a></li>
    </ol>
  </nav>
  <div class="footer__social footer__link">
    <ol class="o-list-bare o-list-center">
      <li>
        <a href="https://github.com/growdigital/groundwork" aria-label="GitHub" title="Link to Groundwork repository on GitHub">
          <figure class="icon__figure">
            <svg class="icon icon--github" aria-hidden="true"><use xlink:href="#icon-github"/></svg>
            <figcaption class="icon__caption u-js-hiddenvisually">GitHub</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/GroundWorkRocks" aria-label="Twitter" title="Link to Groundwork Twitter account">
          <figure class="icon__figure">
            <svg class="icon icon--twitter" aria-hidden="true"><use xlink:href="#icon-twitter"/></svg>
            <figcaption class="icon__caption u-js-hiddenvisually">Twitter</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="https://groundworkrocks.slack.com/" aria-label="Slack" title="Link to Groundwork Slack chatroom">
          <figure class="icon__figure">
            <svg class="icon icon--slack" aria-hidden="true"><use xlink:href="#icon-slack"/></svg>
            <figcaption class="icon__caption u-js-hiddenvisually">Slack</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="mailto:contact@groundwork.rocks" aria-label="Email" title="Email link to the author">
          <figure class="icon__figure">
            <svg class="icon icon--email" aria-hidden="true"><use xlink:href="#icon-email"/></svg>
            <figcaption class="icon__caption u-js-hiddenvisually">Email</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="https://www.groundwork.rocks/rss.xml" aria-label="RSS" title="Link to RSS news feed">
          <figure class="icon__figure">
            <svg class="icon icon--rss" aria-hidden="true"><use xlink:href="#icon-rss"/></svg>
            <figcaption class="icon__caption u-js-hiddenvisually">RSS</figcaption>
          </figure>
        </a>
      </li>
    </ol>
  </div>
  <div class="footer__small footer__link">
    <p>Built by <a href="https://www.growdigital.org/">Jake Rayson</a> with <a href="http://www.metalsmith.io/">Metalsmith</a>, deployed by <a href="https://www.netlify.com/">Netlify</a></p>
    <p>Copyright &copy; Jake Rayson, licensed under <a href="https://choosealicense.com/licenses/mit/">MIT</a> &amp; <a href="https://choosealicense.com/licenses/gpl-3.0/">GPL v3</a>
  </div>
</footer>
