<footer role="contentinfo">
  <p>Built by <a href="https://www.growdigital.org/">Jake Rayson with</a> <a href="http://www.metalsmith.io/">Metalsmith</a>, deployed by <a href="https://www.netlify.com/">Netlify</a></p>
</footer>
