<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  {{!-- Temp font testing --}}
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
