<header role="banner">

<a class="c-github-ribbon" href="https://github.com/growdigital/groundwork">
  <img src="/assets/images/github-forkme.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>

  <div class="header__title">
    <h2><a href="/">{{ site.title }}</a></h2>
  </div>
  <div class="header__plain">
    <img src="/assets/images/logo.svg" alt="Groundwork logo">
    <h3>{{ site.description }}</h3>
  </div>
  <nav role="navigation">
    <ol class="c-nav o-list-bare" >
      <li><a href="/" title="">Home</a></li>
      <li><a href="/principles/" title="">Principles</a></li>
      <li><a href="/organisation/" title="">Organisation</a></li>
      <li><a href="/syntax/" title="">Syntax</a></li>
    </ol>
  </nav>
</header>
