<header role="banner">
  <h2 class="header__title">{{ site.title }}</h2>
  <div class="header__plain">
    <img src="/assets/images/logo.svg" alt="Groundwork logo">
    <h3>{{ site.description }}</h3>
  </div>
  <nav role="navigation">
    <ol class="c-nav o-list-bare" >
      <li><a href="/" title="">Home</a></li>
      <li><a href="/principles/" title="">Principles</a></li>
      <li><a href="/organisation/" title="">Organisation</a></li>
      <li><a href="/syntax/" title="">Syntax</a></li>
    </ol>
  </nav>
</header>
