<head>
  <meta charset="UTF-8" />
  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  {{!-- Temp font testing --}}
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Rubik:500" rel="stylesheet">
</head>
