<header role="banner">
  <img src="/assets/images/logo.svg" alt="Groundwork logo">
  <h2>{{ site.title }}</h2>
  <p>{{ site.description }}</p>
  <nav role="navigation">
    <ol class="c-nav o-list-bare" >
      <li><a href="/" title="">Home</a></li>
      <li><a href="/principles/" title="">Principles</a></li>
      <li><a href="/organisation/" title="">Organisation</a></li>
      <li><a href="/syntax/" title="">Syntax</a></li>
    </ol>
  </nav>
</header>
