<header role="banner">
  <nav role="navigation">
    <ol>
      <li><a href="/" title="">Home</a></li>
      <li><a href="/principles/" title="">Principles</a></li>
      <li><a href="/organisation/" title="">Organisation</a></li>
      <li><a href="/syntax/" title="">Syntax</a></li>
      <li><a href="/tutorial/" title="">Tutorial</a></li>
    </ol>
  </nav>
</header>
