/* ==========================================================================
   Test CSS
   ========================================================================== */

/**
 * Highlight types of namespace
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#highlight-types-of-namespace
 */

/**
 * Healthchecks
 * https://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/#healthchecks
 */

 /**
  * Linting HTML with CSS
  *  https://bitsofco.de/linting-html-using-css/
  */

/* Outline all classes */
[class] {
  outline: 5px solid lightgrey;
}

/* Outline all BEM Elements */
[class*="__"] {
  outline: 5px solid grey;
}

/* Outline all BEM Modifiers */
[class*="--"] {
  outline: 5px solid darkgrey;
}

/* Outline all Object classes */
[class^="o-"],
[class*=" o-"] {
  outline: 5px solid orange;
}

/* Outline all Component classes */
[class^="c-"],
[class*=" c-"] {
  outline: 5px solid cyan;
}

/* Outline all Responsive classes */
[class*="@"] {
  outline: 5px solid rosybrown;
}

/* Outline all Hack classes */
[class^="_"] {
  outline: 5px solid red;
}
