{{! --------------------------------------------------------------------------
    List centered
    --------------------------------------------------------------------------}}

{{!--
   - Centered inline list using flexbox
   - Combine with .o-list-bare and .nav for menus
   --}}

<ol class="o-list-center">
  <li>Ordered list, item 1</li>
  <li>Ordered list, item 2</li>
  <li>Ordered list, item 2</li>
</ol>
