/* ==========================================================================
   Post
   ========================================================================== */

/**
 * Blog post styling
 */

.post time {
  display: block;
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 0.5em;
}
