{{! --------------------------------------------------------------------------
    Icon
    --------------------------------------------------------------------------}}

{{!--
   - Cacheable Ajax SVG icons for the win win win
   - Big thanks to Florens Verschelde:
   - https://fvsch.com/code/svg-icons/how-to/#section-sprite
   --}}

<ol class="o-list-bare o-list-center">
  <li>
    <a href="https://github.com/growdigital/groundwork" aria-label="GitHub" title="Link to somewhere">
      <figure class="icon__figure">
        <svg class="icon icon--github" aria-hidden="true"><use xlink:href="#icon-github"/></svg>
        <figcaption class="icon__caption u-js-hiddenvisually">Icon</figcaption>
      </figure>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/GroundWorkRocks" aria-label="Twitter" title="Link to somewhere else">
      <figure class="icon__figure">
        <svg class="icon icon--twitter" aria-hidden="true"><use xlink:href="#icon-twitter"/></svg>
        <figcaption class="icon__caption u-js-hiddenvisually">Another icon</figcaption>
      </figure>
    </a>
  </li>
</ol>
