/* ==========================================================================
   Icon
   ========================================================================== */

/**
 * Cacheable Ajax SVG icons for the win win win
 * Big thanks to Florens Verschelde:
 * https://fvsch.com/code/svg-icons/how-to/#section-sprite
 */

/* Hide SVG icons Ajaxed in */
#js-svg {
  display: none;
}

.icon {
  fill: currentColor;
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
}

/* Icon figure used without margins, as a container for image and caption */
.icon__figure {
  margin: 0;
  text-align: center;
}

/* Hide icon figcaption if svg detected and icons file found
   TODO: temp -- incorporate with @extend ??? */
.svg .icons .u-js-hiddenvisually {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
