/* ==========================================================================
   Main
   ========================================================================== */

.main {
  margin: 0 auto;
  max-width: 44em;
  padding: 1em;
}

.main__wrapper {
  background-color: var(--offwhite);
}

