{{! --------------------------------------------------------------------------
    Nav
    --------------------------------------------------------------------------}}

{{!--
   - Used for main and secondary nav
   --}}

<ol class="o-list-bare nav">
  <li><a href="#">List item 1</a></li>
  <li><a href="#">List item 2</a></li>
</ol>
