/* ==========================================================================
   Typography CSS
   ========================================================================== */

/**
 * Feels more natural to separate out type stuff here
 */

/* Headings */
h1, h2, h3, h4, h5 {
  color: var(--brown);
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

/* Faux utility headings */
.u-h1 {
  font-size: 2em !important;
}

/* Code */
code, pre {
  font-family:
    /* Mac */
    'Menlo', 'Andale Mono', 'Monaco',
    /* Windows */
    'Consolas', 'Lucida Console',
    monospace
}
