/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {

  /**
   * Colors
   */

  --offwhite:   #fdf6e3;
  --grey:       #b4a99f;
  --blue_sky:   #0079c1;
  --base_text:  #2a3c41;

  --yellow:     #ffac00;
  --orange:     #f3561d;
  --brown:      #794400;
  --brown-mid:  #603600;
  --brown-dark: #2C1800;

  --blue_link:  #0000ff;

  /**
   * Base variables, adapated from Suit CSS
   */

  --base_background:     white;
  --base_color:          var(--base_text);
  --base_font:           'Georgia', serif;
  --base-fontdisplay:    sans-serif;
  --base_fontsize:       16px;
  --base_lineheight:     1.5;
  --base_linkcolor:      var(--blue_link);
  --base_linkcolorhover: var(--base_text);

}
