/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {

  /* Colors
     ======================================================================== */

  /**
  * Using Solarized palette color variables, then subsequently referencing
  * them in base variables
  * http://ethanschoonover.com/solarized
  * https://github.com/growdigital/solarized.svg
  */

  /* Background tones (dark) */
  --base03: #002b36;
  --base02: #073642;

  /* Content tones */
  --base01: #586e75;
  --base00: #657b83;
  --base0:  #839496;
  --base1:  #93a1a1;

  /* Background tones (light) */
  --base2:  #eee8d5;
  --base3:  #fdf6e3;

  /* Accent colors */
  --blue:    #268bd2; /* Only using blue. See Solarized website for more */

  /* Base variables, adapated from SUIT CSS
     ======================================================================== */

  --base_font:       sans-serif;
  --base_fontsize:   16px;
  --base_lineheight: 1.5;

}
