/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {

  /**
   * Colors
   */

  --grey_text:   #333;
  --blue_link:   #00f;

  /**
   * Base variables, adapated from Suit CSS
   */

  --base_background:     white;
  --base_color:          var(--grey_text);
  --base_fontfamily:     'Merriweather', serif;
  --base_fontsize:       16px;
  --base_lineheight:     1.5;
  --base_linkcolor:      var(--blue_link);
  --base_linkcolorhover: var(--grey_text);

}
