/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */

/**
 * Use the CSS Wizardry hack namespace
 * eg ._footer-mobile {}
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#hack-namespaces-_
 */

.u-debug {
  outline: 1px solid red !important;
}

.main {
  display: grid;
  grid-template-columns: 50% 50%;
}
