/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */

/**
 * Use the CSS Wizardry hack namespace
 * eg .c-footer-mobile {}
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#hack-namespaces-_
 */

.u-debug {
  outline: 1px solid red !important;
}
