/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */

/**
 * Use the CSS Wizardry hack namespace
 * eg .c-footer-mobile {}
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#hack-namespaces-_
 */

code, pre {
  font-family:
    /* Mac */
    'Menlo', 'Andale Mono', 'Monaco',
    /* Windows */
    'Consolas', 'Lucida Console',
    monospace
}

/* TODO: set this in base */
body {
  margin: 0;
}

/* header styling */
.header__title {
  background-color: var(--blue_sky);
  font-size: 3em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.header__plain {
  background-color: white;
}

/* GitHub Ribbon */

.c-github-ribbon img {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}


/* grid stuff */
/*body {
  display: grid;
  margin: 0;
  padding: 0;
}

body > * {
  background-color: navajowhite;

}
*/
