/* ==========================================================================
   Header
   ========================================================================== */

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.header__nav {
  align-self: stretch;
}

.header__heading {
  font-size: 3em;
}

.header__heading a:link,
.header__heading a:visited {
  color: var(--base_colortint);
  text-decoration: none;
}

.header__heading a:hover {
  text-decoration: underline;
}

.header__logo {
  margin: 1em 0;
  width: 6em;
}

.header__nav {
  margin-top: 1em;
}
