/* ==========================================================================
   Header
   ========================================================================== */

.header__sky {
  align-items: center;
  background-color: var(--blue_sky);
  clip-path: inset(0 0 0.55em 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 22vh;
}

.header__type {
  font-size: 3em;
  line-height: 1;
  margin: 0;
}

.header__type a {
  color: white !important;
}

.header__logo {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 6vh 0 1.5vh;
}

.header__logo__img {
  margin-bottom: 3em;
  width: 6em;
}

.header__title {
  color: var(--blue_sky);
  font-size: 1.1em;
  font-weight: normal;
}
