/* ==========================================================================
   Header
   ========================================================================== */

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.header__nav {
  align-self: stretch;
}

.header__heading {
  font-size: 3em;
}

.header__heading a:link,
.header__heading a:visited {
  color: black;
  text-decoration: none;
}

.header__heading a:hover {
  text-decoration: underline;
}

.header__logo {
  margin: 1em 0;
  width: 6em;
}

.header__nav {
  margin-top: 1em;
}

/*.header__sky {
  background-color: dimgray;
  clip-path: inset(0 0 0.55em 0);
  height: 22vh;
}

.header__type {
  font-size: 3em;
  line-height: 1;
  margin: 0;
}

.header__type a {
  color: white !important;
}

.header__logo {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 6vh 0 1.5vh;
}

.header__logo__img {
  margin-bottom: 3em;
  width: 6em;
}

.header__title {
  color: black;
  font-size: 1.1em;
  font-weight: normal;
}
*/
