/* ==========================================================================
   GitHub Ribbon
   ========================================================================== */

.github-ribbon img {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
