{{! --------------------------------------------------------------------------
    Github Ribbon
    --------------------------------------------------------------------------}}

{{!--
   - Just the GitHub Fork Me! ribbon, absolutely positioned top right o’ page
   - Also, PNG file optimised, half the size
   --}}

<a class="github-ribbon" href="https://github.com/growdigital/groundwork">
  <img src="/assets/images/github-ribbon.png" alt="Fork me on GitHub">
</a>
